:root {
  /* Colors */
  --darkbg: #1D1D2D;
  --lightbg: #464B61;
  --fg: #EA76CB;
}
@font-face {
  font-family: "Iosevka";
  src: local(../fonts/Iosevka-regular.ttf);
}
* {
  font-family: Iosevka;
  text-decoration: none;
}
.body {
  background-color: var(--darkbg);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.url {
  color: var(--fg);
  font-size: 2.5em;
  text-align: center;
  border: 0px;
  background-color: var(--lightbg);
  height: 70px;
  width: 932.8px;
  border-radius: 15px;
  outline: none !important;
  caret-color: transparent;
}

.bookmarks {
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.menu_place {
  width: 60px;
  height: 54px;
  justify-content: center;
  margin: 13.3px;
}
.buttons {
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
 
}
.buttons img{
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}
.buttons img:hover{
  width: 60px;
  height: 60px;
}